//Fonts
$font-family: 'Inter', sans-serif;
$second-accent: 'Poppins', sans-serif;
$nav-family: 'Space Grotesk', sans-serif;

//color
$black: #141718;
$yellow: #ffab00;
$blue: #377dff;
$while: #ffffff;
